/* Layout */

html, body {
    margin: 0;
    padding: 0;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

summary {
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 0;
}

main {
    width: 50%;
    min-width: 640px;
    margin: auto;
}

header {
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}

button {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
/*    line-height: 0;*/
}

#field-container {
    display: inline-block;
    width: 90%;
    min-width: 640px;
    min-height: 320px;
    margin: auto;
    margin-bottom: 2rem;
    resize: vertical;
    overflow-x: hidden;
    overflow-y: hidden;
}

#field {
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 320px;
}

#field .draggable {
    cursor: move;
}

#field text{
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#app {
    margin-bottom: 1rem;
}

#app ul,
#app li {
    display: inline-block;
    list-style: none;
    padding: 0;
}

#app button {
    padding: 0;
    width: 2.4rem;
    height: 2rem;
}

#app input[type="range"] {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
}

#current-note {
    position: absolute;
    left: 0;
    width: 25%;
}

#current-note-text {
    width: 50%;
    margin-left: 40%;
}

#timeline-events {
    display: block;
    width: 80%;
    margin: auto;
    min-height: 3rem;
}

button#add-time {
    float: right;
    margin-right: 1rem;
}

button#reset-time {
    float: left;
    margin-left: 1rem;
}

button#share-drill {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


button#share-drill > span{
    margin-right: 0.6rem;
}

#timeline-events {
    overflow: visible;
}

#app li#selected-item {
    margin-left: 2rem;
    display: none;
}
#app li#selected-item.visible {
    display: inline-block;
}
#app li#selected-item > ul > li {
    display: none;
}
#app li#selected-item > ul > li.visible {
    display: inline-block;
}

#app li#selected-item input {
    display: inline-block;
    margin: 0;
}
#app li#selected-item textarea {
    height: 1rem;
}
#app li#selected-item input[type="number"] {
    max-width: 2rem;
}
#app li#selected-item input[type="range"] {
    max-width: 8rem;
}

/* Style */

body {
    background-color: #6abe30;
    font-family: sans-serif;
    color: white;
}

#app {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#field {
    background: url("grass.png");
}

#field .ball {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

#field .cone {
    stroke: black;
    stroke-width: 1;
}

#field .cone[data-colour="0"] {
    fill: orange;
}
#field .cone[data-colour="1"] {
    fill: blue;
}
#field .cone[data-colour="2"] {
    fill: hotpink;
}
#field .cone[data-colour="3"] {
    fill: green;
}

#field .player circle {
    fill: black;
    stroke: white;
    stroke-width: 2;
}

#field .player text {
    color: white;
}

#field .player[data-role="1"] circle {
    fill: pink;
    stroke: skyblue;
}

#field .player[data-role="1"] text {
    color: skyblue;
}

#arrow-head {
    fill: rgba(255, 255, 255, 0.8);
}

#motion-arrow {
    stroke-width: 14;
    stroke: rgba(255, 255, 255, 0.8);
    fill: none;
}

#current-note-text {
/*    font-weight: bold;*/
    margin-top: 16rem;
    font-size: 1.2em;
    font-style: italic;
}

#field .player.selected circle {
    stroke-width: 3px;
    -webkit-filter: drop-shadow( 0px 0px 2px rgba(255, 255, 255, .7));
    filter: drop-shadow( 0px 0px 2px rgba(255, 255, 255, .7));
}
#field .player.selected[data-role="1"] circle {
    stroke-width: 3px;
    -webkit-filter: drop-shadow( 0px 0px 2px rgba(64, 128, 255, .7));
    filter: drop-shadow( 0px 0px 2px rgba(64, 128, 255, .7));
}

#field .cone.selected {
    stroke-width: 2;
    -webkit-filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, 1));
    filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, 1));
}

#field .ball.selected {
    stroke-width: 3;
    -webkit-filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, 1));
    filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, 1));
}

#timeline-events .note.selected {
/*    height: 64px;*/
    y: -6px;
    -webkit-filter: drop-shadow( 0px 0px 6px rgba(255, 255, 128, 1));
    filter: drop-shadow( 0px 0px 6px rgba(255, 255, 128, 1));
}

#timeline-events .movement.selected {
    stroke-width: 3;
    -webkit-filter: drop-shadow( 0px 0px 4px rgba(255, 255, 128, 1));
    filter: drop-shadow( 0px 0px 4px rgba(255, 255, 128, 1));
    r: 10px;
}

/* TODO: Style selected player/ball/cone/note/motion */